:root {
  --darker: #291f2e;
  --dark: #36293d;
  --medium: #46344e;
  --light: #7a5c8a;
  --coral: #FF6347;
  --coraldark: #542d33;
}

* + * {
  margin-top: 1rem;
}
html,
body {
  background-color: var(--darker);
  color: white;
  font-family: Rokkitt, serif;
  font-size: calc(0.9rem + 0.33vw);
  line-height: 1.25;
}
body a {
  hyphens: none;
}
button {
  background: var(--dark);
}
img {
  max-height: none;
}
::selection {
  background: var(--light); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--light); /* Gecko Browsers */
}

/* header et nav */

header {
  background-image: url(../images/monkeeboy-polygon-23.jpg);
  background-size: cover;
  background-position: right;
}
.intro-and-nav > div {
  font-size: 1rem;
}
.intro {
}
.library-desc {
  text-transform: uppercase !important;
}
.pattern {
  background-color: var(--dark);
  /*clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);*/
  clip-path: none;
  border-radius: 999em 999em 999em 999em;
  margin-bottom: 0.5rem;
}
.pattern a:hover,
.pattern [aria-current]{
  clip-path: none;
  background-color: var(--coral);
  border-radius: 999em 999em 999em 999em;
}
.pattern a {
}



/* main head */

.info {
  margin-bottom: 3rem;
  padding: 1rem 0;
  border-top: 1px solid;
  border-bottom: 1px solid; 
}
main .date {
  font-weight: bold;
}

.patterns-list .date,
.patterns-list .tags,
.patterns-list .tags li + li {
  background-color: transparent;
  border: 0;
  padding: 0;
}


/* block list */

ul.patterns-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.patterns-list > li {
  display: inline-block;
  border: solid white 1px;
  padding: 1rem;
  width: calc(100% / 3);
  min-width: 11rem;
  height: 15rem;
  flex-grow: 1;
}
.patterns-list > li .date {
  margin: 0.5rem 0;
}
.list-tags * {
  display: revert;
  list-style: none;
}
.patterns-list li + li {
  margin-top: 0;
  border-top: 1px solid;
}

ul.tags-list {
  margin-left: 0;
  margin-top: 2rem;
  text-align: center;
}
.tags-list > li {
  list-style: none;
  display: inline-block;
  margin-right: 1rem;
  padding: 0.2rem 0.5rem;
  background-color: var(--medium);
}
.tags-list > li a {
  border-bottom: 0;
}

/* main content */

h1, 
h2,
h3 {
  font-family: Rokkitt, serif;
  color: var(--coral);
}
h4,
h5,
h6 {
  font-family: Rokkitt, serif;
  color: var(--light);
}
h1 a:hover, 
h2 a:hover, 
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  background-color: var(--coraldark) !important;
}
h1 {
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.h2-container {
  margin-top: 1.5rem;
}
.h2-container > h2 {
  margin-top: 1.5rem;
}
.h2-container + .h2-container,
.h2-container + p,
main p {
  margin-top: 1rem;
}
.h2-container > h2 {
  margin-top: 3rem;
}
.h2-container h3 + p {
  margin-top: 0;
}
.patterns-list h2 {
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
}
.page-desc {
}
main a:hover {
  background-color: var(--medium);
}

main ul,
main ol {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

/* main post foot */

.nextprevious {
  margin-top: 3rem;
}
.next-post a,
.previous-post a {
  background-color: var(--medium);
  padding: 0.25rem 0.75rem;
  border-radius: 999em;
  border-bottom: 0;
  font-size: 0.9rem;
}
.previous-post {
  float: left;
}
.next-post {
  float: right;
}


/* éléments spéciaux */

#search {
  background-color: var(--dark);
  margin-bottom: 2rem;
}
blockquote {
  border-left: var(--coral) solid;
  margin: auto 2.5rem;
  font-size: 0.9rem;
}
blockquote + blockquote {
  margin-top: 2.5rem;
}
blockquote p + p {
  margin-top: 1rem !important;
}
.file-tree {
  border: none;
  background: var(--dark);
}
.file-tree li {
  background: var(--dark);
  font-size: 0.9rem;
}
/* .colors li {
  border: solid 1px white;
} */
.colors span {
  background-color: transparent;
}
.note {
  border: var(--coral) solid 2px;
  font-size: 1rem;
  padding: 0.75rem 0;
}
.note div {
  margin-right: 0.75rem;
}
.note div svg {
  margin-right: 0.5rem;
}
.footnotes {
  margin-top: 3rem;
}


/* expendable cv */

[data-expands] {
  color: var(--coral);
}
.expand-block {
  margin-top: 3rem;
}
.expandable-section {
  margin-bottom: 1rem;
  padding: 0;
  border: 0;
}
.expandable-section h2 {
  padding: 0.5rem 1rem;
  background-color: var(--coraldark);
}
.expandable-section h2 button {
  font-size: 1.66rem;
  font-weight: bold;
}
.expandable-section > section {
  background-color: var(--darker);
  padding: 0 1rem;
  border-left: solid 2px var(--coral);
}
.expandable-section > section > article {
  margin-top: 0;
  margin-bottom: 2.5rem;
}
.expandable-section .cv-title {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: var(--coral);
}
.expandable-section .h2-container {
  font-size: inherit;
  margin-top: 0.5rem;
}
.expandable-section ul li + li {
  margin-top: 0;
}

@media only screen and (max-width: 27rem) {
  .patterns-list > li {
    height: auto;
  }
}

footer {
  margin-bottom: 2rem;
}