{{ define "main" }}
<main id="main">
  <h1>{{ .Title }}</h1>
  <p class="page-desc">
    {{ with .Description }} {{ . | markdownify }} {{ end }}
  </p>
  {{ if site.Params.search }}
  <input
    id="search"
    type="text"
    placeholder="recherche"
    aria-label="{{ T "search_aria_label" }}"
  />
  {{ end }}
  
  <ul class="patterns-list" id="list">
    {{ range .Pages.ByPublishDate.Reverse }}
    <li>
      <h2>
        <a href="{{ .RelPermalink }}">
          <!-- <svg
            class="bookmark"
            aria-hidden="true"
            viewBox="0 0 40 50"
            focusable="false"
          >
            <use href="#bookmark"></use>
          </svg> -->
          {{ .Title }}
        </a>
      </h2>
      <div class="date">
        {{ $mymonths := index $.Site.Data.mois }}{{ .Date.Day }}
        {{ index $mymonths (printf "%d" .Date.Month) }} {{ .Date.Year }}
      </div>
  
      {{ with .Params.tags }}
        <div class="tags list-tags">
          <!-- <strong>{{ T "tags" }} </strong> -->
          <ul aria-label="{{ T "aria_label_tags" }}">
            {{ range . }}
              <li>
                <svg class="tag-icon" aria-hidden="true" viewBox="0 0 177.16535 177.16535" focusable="false">
                  <use href="#tag"></use>
                </svg>
                {{ $href := print ("tags/" | relLangURL) (. | urlize) "/" }}
                <a href="{{ $href }}">{{ . }}</a>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</main>
{{ end }}
